
@{
    ViewBag.Title = "Index";
}

    <div class="container-fluid mt-4">
        @Html.ActionLink("Get Top Client", "TopClient", "Reports", new { @class = "btn btn-primary" })

        @Html.ActionLink("Customer Purchases List", "CustomerBikes", "Reports", new { @class = "btn btn-primary" })
    </div>
